{% extends 'header.html' %}
{% block content %}
    <body>
    {% include 'BaseNav.html' %}

    <div class="col-lg-12">
        <div class="container">
            <nav>
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="/">脚本执行</a></li>
                    <li role="presentation" ><a href="/register">数据库注册</a></li>
                    <li role="presentation" class="active"><a href="/logs">操作日志</a></li>
                </ul>
            </nav>
            <br>

            <div class="panel panel-default">
                <div class="panel-body">
                    <nav>
                        <ul class="nav nav-tabs" role="tablist" id = 'tab_logs'>
                            <li role="presentation" class="active"><a href="#db_add_log">数据库操作记录</a></li>
                            <li role="presentation"><a href="#user_add_log">账号操作记录</a></li>
                            <li role="presentation"><a href="#error_log">错误记录</a></li>
                        </ul>
                    </nav>
                    <hr>
                    对不起，您没有访问权限。
                </div>
            </div>
        </div>
    </div>
{% endblock %}