<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beisen | DBIaaS</title>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- datatables -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.css">


    <link href="http://cdn.bootcss.com/select2/4.0.3/css/select2.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

    <link href="//cdn.bootcss.com/bootstrap-fileinput/4.3.2/css/fileinput.min.css" rel="stylesheet">

    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/npm.js"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <script src="//cdn.bootcss.com/bootstrap-fileinput/4.3.2/js/plugins/canvas-to-blob.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-fileinput/4.3.2/js/plugins/sortable.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-fileinput/4.3.2/js/plugins/purify.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-fileinput/4.3.2/js/fileinput.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-fileinput/4.3.1/js/fileinput_locale_zh.js"></script>

    <script src="http://cdn.bootcss.com/select2/4.0.3/js/select2.full.js"></script>

</head>
{% block content %}
{% endblock %}
{% block script %}
{% endblock %}
</html>